.spot-details {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 20px;
  align-items: center;
}

.spot-card{
  background-color: beige;
}

.spot-images {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
}

#mainImage {
  grid-column: 1 / span 3;
  grid-row: 1;
}

#smallImage {
  height: 100px;
}

#calloutBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#reserve {
  margin-top: 20px;
}

.callout-container {
  position: relative;
  height: 270px;
  width: 470px;
  padding-right: 40px;
  margin-top: -50px; /* Adjust as needed to move it up */
  margin-left: auto; /* Move it to the right */
}

.calloutBox {
  display: flex;
  flex-direction: column;
  border: 2px none black;
  padding: 35px 35px;
  border-radius: 8px;
  gap: 20px;
  box-shadow: 0px 3px 20px lightgray;
  transition: box-shadow 0.3s ease;
  background-color: white;
  width: 400px;
  height: 200px;
  justify-content: flex-start;
}


.stars-group {
  display: flex;
}

.star {
  font-size: 30px;
  cursor: pointer;
  margin-right: 5px; /* Add margin between stars */
}

#modal-content {
  width: 500px;
  border-radius: 10px;
}
.review {
  border-radius: 10px;
  /* Add any other styles you need */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.review-area {
  width: 80%; /* Adjust width as needed */
   /* Adjust margin-top to move it up */
}

.review-form-header {
  text-align: center;
}

.button-submit {
  border-top: 0px;
  border-left: 0px;
  border-bottom: 0px;
  border-right: 0px;
  background-color: white;
  cursor: pointer;
}
.button-submit:hover {
  background-color: aliceblue;
  border-color: black;
  border-top: 2px;
  border-left: 2px;
  border-bottom: 2px;
  border-right: 2px;

}

.review-modal {
  border-radius: 10px;
  /* Add any other styles you need */
}

.spotImages-container {
  display: flex;
  justify-content: flex-start; /* Align items to the start (left) */
  align-items: flex-start; /* Align items to the start (top) */
}

.image-grid {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.preview-image {
  width: 600px;
  height: auto;
}

.image-grid {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.preview-image {
  width: 400px;
  height: auto;
  height: 400px;
}

#preview {
  width: 400px;
  height: 400px;
}

.other-images {
  display: flex;
  flex-wrap: wrap;
  max-height: 400px;
  width: 400px;
  padding-left: 20px;
}

.other-image {
  width: calc(50% - 5px); /* Adjust for grid gap */
  margin-bottom: 10px; /* Adjust for grid gap */
  position: relative; /* Ensure relative positioning */
  height: 190px;
  padding-left: 5px;
  padding-top: 3px;
}

#small-image {
  width: 195px;
  height: 195px;
}

.spot-images-name {
  text-align: center;
}
