.spot-details {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 20px;
  align-items: center;
}
.main{
  margin: 20px 120px 0;
}

.page-container {
  display: flex;
}

.spot-card {
  background-color:#ADBBDA;
}

.spot-images {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  /* grid-gap: 10px; */
}

#mainImage {
  grid-column: 1 / span 3;
  grid-row: 1;
}

#smallImage {
  height: 100px;
}

#reserve {
  margin-top: 20px;
  border-radius: 10px;
}
.description-container {
  position: relative;
  display: flex;
  /* Align items to start and end */
  align-items: flex-start;
  padding-top: 10px;
  height: 300px;
  border-bottom: 2px solid black;
  width: 100%;
}

.callout-container {
  position: absolute;
  right: 0;
  width: 400px; /* Adjust width as needed */
  padding: 15px;
  border-radius: 10px;
  border: 2px solid black;
  margin-left: 20px;
  text-align: center;
}


.stars-group {
  display: flex;
}

.star {
  font-size: 30px;
  cursor: pointer;
  margin-right: 5px; /* Add margin between stars */
}

#modal-content {
  display: flex;
  justify-content: center;
  width: 400px;
  border-radius: 10px;
}

.review {
  border-radius: 10px;
  /* Add any other styles you need */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.review-area {
  width: 80%;
}

.review-form-header {
  text-align: center;
}

.button-submit {
  border-top: 0px;
  border-left: 0px;
  border-bottom: 0px;
  border-right: 0px;
  background-color: white;
  cursor: pointer;
}

.button-submit:hover {
  background-color: aliceblue;
  border-color: black;
  border-top: 2px;
  border-left: 2px;
  border-bottom: 2px;
  border-right: 2px;
}

.review-modal {
  border-radius: 10px;
  /* Add any other styles you need */
}

.spotImages-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.image-grid {
  display: flex;
  /* justify-content: space-between;
  align-items: flex-start; */
}

.preview-image {
  width: 600px;
  height: auto;
}


.preview-image {
  width: 400px;
  height: auto;
  height: 400px;
  margin-right: 10px;
}


#preview {
  width: 400px;
  height: 400px;
}

.other-images {
  display: flex;
  flex-wrap: wrap;
  max-height: 400px;
   width: 500px;
  padding-left: 20px;
}

.other-image {
  width: calc(70% / 2); /* Adjust as needed */
  margin-bottom: 10px; /* Adjust margin as needed */
  margin-right: 0; /* Remove right margin */
  position: relative;
  height: 190px;
  padding-top: 3px;
}

#small-image {
  /* width: 270px;
  height: 193px; */
  width: 160px; /* Automatically adjust width */
  height: 195px;


}

.spot-images-name {
  text-align: center;
}

.host-name {
  font-weight: 700;
  font-size: 30px;
}

.description-container .spot-name-description {
  flex-direction: column;
  width: 50%;
  flex-wrap: wrap;
  padding-right: 10px;
}

.description {
  flex: 1; /* Allow the description to grow */
  word-wrap: break-word; /* Wrap long words */
  overflow: auto; /* or overflow: auto; */
  max-width: 100%;
}

@media screen and (max-width: 1000px) {
  .other-image {
    width: calc(50% - 5px); /* Set the width to 50% minus the desired gap */
  }
}
