/* SpotDetails.css */
.All-Spots {
  margin-top: 500px;
}

.SpotDetails {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.spot-card {
  display: inline-block;
  width: calc(30% - 20px);
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid black; /* Add border with black color */
  border-radius: 4px; /* Add border radius */
}

.spot-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.spot-details {
  padding: 16px;
}

.spot-name {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 8px;
}

.spot-description {
  font-size: 14px;
  margin-bottom: 8px;
}

.spot-city {
  font-size: 14px;
  margin-bottom: 8px;
}

.spot-price {
  font-size: 14px;
  margin-bottom: 8px;
}

.spot-rating {
  font-size: 14px;
}

.spot-images-name {
  padding-top: 90px;
}

.NewSpotDetails{
  padding-top: 100px;
  align-items: center;
  width: 1050px;
}
