

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Shadows+Into+Light&display=swap');


*{
        font-family: "Shadows Into Light", cursive;
        font-weight: 400;
        font-style: normal;
        letter-spacing: 2px;
        max-width: 1000px;

      }

      body{
        background-color: #222222;
      }
/* .dancing-script-<uniquifier> {
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */
